<%- include admin_common/header.ejs%>
<style>
  label::after {
    content: "  *";
    color: red;
  }

  .form-group::before {
    content: "*";
    color: red;
  }
</style>
<!--candidate adding Modal -->
<div class="modal fade" id="candidateAddModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="text-danger">Fileds with * mark are required</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <!-- msg -->
        <div class="col-12 succes-msg text-success text-center"></div>
        <div class="col-12 err-msg text-success text-danger"></div>
        <!-- left part -->
        <div class="col-4 col-md-4">
          <!-- candidate image -->
          <div class="candidateImageWrapper">
            <input type="file" id="candidateImage" accept="image/*" />
          </div>
          <label for="candidateImage">Candiate image</label>

          <!-- party image -->
          <div class="partySymbolWrapper">
            <input type="file" id="partySymbol" accept="image/*" />
          </div>
          <label for="partySymbol">Party symbol</label>
        </div>
        <!-- right  part -->
        <div class="col-8 col-md-8">
          <!--candidate name-->
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Full name">
          </div>
          <!-- email -->
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <!-- phone number -->
          <div class="form-group">
            <input type="text" class="form-control" id="phno" placeholder="Phone number">
          </div>
          <!-- aadhar number -->
          <div class="form-group">
            <input type="text" class="form-control" id="aadhar" placeholder="Aadhar number" maxlength="12"
              minlength="12">
          </div>
          <!-- party name -->
          <div class="form-group">
            <input type="text" class="form-control" id="partyName" placeholder="Party name">
          </div>
          <!-- color code -->
          <div class="form-group">
            <input type="text" class="form-control" id="color" placeholder="#000000">
          </div>
        </div>
        <!-- about textarea  -->
        <div class="form-group col-12">
          <label for="about">About Candidate</label>
          <textarea class="form-control" rows="5" id="about"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary disabled" id="botn" type="button" disabled>Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- candidate update modal -->
<div class="modal fade" id="candidateUpdateModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="text-danger">Fileds with * mark are required</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <!-- msg -->
        <div class="col-12 succes-msg text-success text-center"></div>
        <div class="col-12 err-msg text-success text-danger"></div>
        <div class="col-12 text-center text-muted small p-2">Tap on the image to choose new files</div>
        <!-- candidate image -->
        <div class="col-6 p-2">
          <div class="candidateImageWrapperU">
            <input type="file" id="candidateImageU" accept="image/*" />
          </div>
          <label for="candidateImage">Candiate image</label>
          <button class="btn btn-success btn-sm disabled" disabled id="updateCandidateImage">update</button>
        </div>
        <!-- party symbol -->
        <div class="col-6 p-2">
          <div class="partySymbolWrapperU">
            <input type="file" id="partySymbolU" accept="image/*" />
          </div>
          <label for="partySymbol">Party symbol</label>
          <button class="btn btn-success btn-sm disabled" disabled id="updatePartySymbol">update</button>
        </div>
        <div class="col-12 p-2 text-muted small">
          <hr>
          Candidate details
        </div>
        <!--candidate name-->
        <div class="form-group col-6">
          <input type="text" class="form-control" id="nameU" placeholder="Full name">
        </div>
        <!-- party name -->
        <div class="form-group col-6">
          <input type="text" class="form-control" id="partyU" placeholder="Party name">
        </div>
        <!-- email -->
        <div class="form-group col-6">
          <input type="email" class="form-control" id="emailU" placeholder="Email">
        </div>
        <!-- phone number -->
        <div class="form-group col-6">
          <input type="text" class="form-control" id="phnoU" placeholder="Phone number">
        </div>
        <!-- right  part -->
        <div class="col-12">
          <!-- aadhar number -->
          <div class="form-group">
            <input type="text" class="form-control" id="aadharU" placeholder="Aadhar number" maxlength="12"
              minlength="12">
          </div>
          <!-- color code -->
          <div class="form-group">
            <input type="text" class="form-control" id="colorU" placeholder="#000000" maxlength="8">
          </div>
        </div>
        <!-- about textarea  -->
        <div class="form-group col-12">
          <label for="about" class="text-muted small">About Candidate</label>
          <textarea class="form-control" rows="5" id="aboutU"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary disabled" id="candidateDetailUpdate" type="button" disabled>Save</button>
      </div>
    </div>
  </div>
</div>

<section id="CandidateTable">
  <div class="container">
    <div class="row mt-3">
      <div class="col-12 text-right">
        <h4 class="float-left">Candidtaes</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#candidateAddModal">
          Add new +
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>profile img</th>
              <th>name</th>
              <th>email</th>
              <th>phno</th>
              <th>aadhar</th>
              <th>party name</th>
              <th>color code</th>
              <th>symbol</th>
              <th>color</th>
              <th>about</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for (i=0 ; i<data.length; i++){%>
            <tr data="<%=data[i]._id%>">
              <td class="imageU"><img src="<%=data[i].image%>" class="rounded-circle img-thumbnail img-fluid"
                  style="height:50px;width:50px"></td>
              <td class="nameU"><%=data[i].name%></td>
              <td class="emailU"><%=data[i].email%></td>
              <td class="phnoU"><%=data[i].phone%></td>
              <td class="aadharU"><%=data[i].aadhar%></td>
              <td class="partyU"><%=data[i].party%></td>
              <td class="colorU"><%=data[i].color%></td>
              <td class="symbolU"><img src="<%=data[i].symbol%>" class="rounded-circle img-thumbnail img-fluid"
                  style="height:50px;width:50px"></td>
              <td class="aboutU"><%=data[i].about%></td>
              <td><button class="btn btn-success candidateEdit" data-toggle="modal" data-target="#candidateUpdateModal">
                  <i class=" fas fa-edit" aria-hidden="true"></i>
                </button>
              </td>
              <td><button class="btn btn-danger candidateDel">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<%-include admin_common/footer.ejs%>
<script>
  /* candidate.ejs javascript start */
  $(document).ready(function () {
    //function for image preview genrator
    function preview(input, wrapper) {
      var reader = new FileReader();
      reader.onload = function (e) {
        path = "url('" + e.target.result + "')";
        $(wrapper).css("background", path);
      };
      reader.readAsDataURL(document.getElementById(input).files[0]);
    }

    $("#candidateImage").change(function () {
      preview("candidateImage", ".candidateImageWrapper");
    });
    $("#partySymbol").change(function () {
      preview("partySymbol", ".partySymbolWrapper");
    });

    // validators
    $("#candidateAddModal :input").keyup(function () {
      if (
        $("#name").val() != "" &&
        $("#email").val() != "" &&
        $("#phno").val() != "" &&
        $("#partyName").val() != "" &&
        $("#color").val() != "" &&
        $("#aadhar").val() != "" &&
        $("#about").val() != "" &&
        $("#candidateImage").val() != "" &&
        $("#partySymbol").val() != ""
      ) {
        $("#botn")
          .prop("disabled", false)
          .removeClass("disabled");
      } else {
        $("#botn")
          .prop("disabled", true)
          .addClass("disabled");
      }
    });
    $("#candidateImage,#partySymbol").change(function () {
      if (
        $("#name").val() != "" &&
        $("#email").val() != "" &&
        $("#phno").val() != "" &&
        $("#partyName").val() != "" &&
        $("#color").val() != "" &&
        $("#aadhar").val() != "" &&
        $("#about").val() != "" &&
        $("#candidateImage").val() != "" &&
        $("#partySymbol").val() != ""
      ) {
        $("#botn")
          .prop("disabled", false)
          .removeClass("disabled");
      } else {
        $("#botn")
          .prop("disabled", true)
          .addClass("disabled");
      }
    });

    // candidate add form submit action
    $("#botn").click(function () {
      var formData = new FormData();
      formData.append(
        "image",
        document.getElementById("candidateImage").files[0]
      );
      formData.append("image", document.getElementById("partySymbol").files[0]);
      formData.append("name", $("#name").val());
      formData.append("email", $("#email").val());
      formData.append("phno", $("#phno").val());
      formData.append("party", $("#partyName").val());
      formData.append("color", $("#color").val());
      formData.append("aadhar", $("#aadhar").val());
      formData.append("about", $("#about").val());
      $.ajax({
        url: "addCandidate",
        type: "POST",
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
          if (data[0] == false) $(".err-msg").append(data[1]);
          else window.location.reload();
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

    // candidate del
    $(".candidateDel").click(function () {
      var del_id = $(this)
        .prop("disabled", true)
        .addClass("disabled")
        .html("<i class='fa fa-spinner'' aria-hidden='true''></i>")
        .closest("tr")
        .attr("data");
      if (del_id != null) {
        $.ajax({
          url: "delCandidate",
          type: "POST",
          data: { del_id: del_id },
          success: function (data) {
            if (data[0] == true) {
              window.location.reload();
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      }
    });

    // candidate update modal
    $(".candidateEdit").click(function () {
      var id = $(this)
        .closest("tr")
        .attr("data");
      // default image load
      $(".candidateImageWrapperU").css(
        "background",
        "url(" +
        $(this)
          .closest("tr")
          .find(".imageU")
          .children("img")
          .attr("src") +
        ")"
      );
      $(".partySymbolWrapperU").css(
        "background",
        "url(" +
        $(this)
          .closest("tr")
          .find(".symbolU")
          .children("img")
          .attr("src") +
        ")"
      );

      // image preview
      $("#candidateImageU").change(function () {
        $("#updateCandidateImage")
          .prop("disabled", false)
          .removeClass("disabled");
        preview("candidateImageU", ".candidateImageWrapperU");
      });
      $("#partySymbolU").change(function () {
        $("#updatePartySymbol")
          .prop("disabled", false)
          .removeClass("disabled");
        preview("partySymbolU", ".partySymbolWrapperU");
      });

      // candidate profile image upload
      $("#updateCandidateImage").click(function () {
        var formdata = new FormData();
        formdata.append(
          "image",
          document.getElementById("candidateImageU").files[0]
        );
        formdata.append("id", id);
        $.ajax({
          url: "updateCandidateImage",
          type: "POST",
          data: formdata,
          contentType: false,
          processData: false,
          success: function (data) {
            if (data[0] == true) {
              window.location.reload();
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      });

      // candidate party symbol upload
      $("#updatePartySymbol").click(function () {
        var formdata = new FormData();
        formdata.append(
          "image",
          document.getElementById("partySymbolU").files[0]
        );
        formdata.append("id", id);
        $.ajax({
          url: "updatePartySymbol",
          type: "POST",
          data: formdata,
          contentType: false,
          processData: false,
          success: function (data) {
            if (data[0] == true) {
              window.location.reload();
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      });

      // default text load
      $("#nameU").val(
        $(this)
          .closest("tr")
          .find(".nameU")
          .text()
      );
      $("#emailU").val(
        $(this)
          .closest("tr")
          .find(".emailU")
          .text()
      );
      $("#phnoU").val(
        $(this)
          .closest("tr")
          .find(".phnoU")
          .text()
      );
      $("#partyU").val(
        $(this)
          .closest("tr")
          .find(".partyU")
          .text()
      );
      $("#colorU").val(
        $(this)
          .closest("tr")
          .find(".colorU")
          .text()
      );
      $("#aadharU").val(
        $(this)
          .closest("tr")
          .find(".aadharU")
          .text()
      );
      $("#aboutU").val(
        $(this)
          .closest("tr")
          .find(".aboutU")
          .text()
      );

      $("#candidateUpdateModal :input").keyup(function () {
        if (
          $("#nameU").val() != "" &&
          $("#emailU").val() != "" &&
          $("#phnoU").val() != "" &&
          $("#partyU").val() != "" &&
          $("#colorU").val() != "" &&
          $("#aadharU").val() != "" &&
          $("#aboutU").val() != ""
        ) {
          $("#candidateDetailUpdate")
            .prop("disabled", false)
            .removeClass("disabled");
        } else {
          $("#candidateDetailUpdate")
            .prop("disabled", true)
            .addClass("disabled");
        }
      });
      // only text-updates

      $("#candidateDetailUpdate").click(function () {
        var candidate = {
          id: id,
          name: $("#nameU").val(),
          email: $("#emailU").val(),
          phone: $("#phnoU").val(),
          aadhar: $("#aadharU").val(),
          party: $("#partyU").val(),
          color: $("#colorU").val(),
          about: $("#aboutU").val()
        };

        $.ajax({
          url: "candidateDetailUpdate",
          type: "POST",
          data: { update: JSON.stringify(candidate) },
          success: function (data) {
            if (data[0] == true) window.location.reload();
          },
          error: function (data) {
            console.log(data);
          }
        });
      });
    });
  });
/* candidate.ejs javacsript end */
</script>