<%-include admin_common/header.ejs%>
<div class="container">
    <div class="row">
        <% if(event == null){ %>
        <div class="col-12 text-center display-4">
            No events available<br>
            <button class="btn btn-xl btn-primary mt-5" id=createEvent>
                <i class=" fa fa-plus" aria-hidden="true"></i> Create new event
            </button>
        </div>
        <% } %>
    </div>
    <div class="row">
        <% if(event!= null){ %>
        <div class="col-12 display-4 display text-center">Events</div>
        <div class="col-12 col-md-12 mt-4 text-center">
            <form class="form border border-md-only p-4 row" id="eventForm">
                <div class="form-group col-md-6">
                    <label for="header">Event header</label>
                    <input type="text" id="header" value="<%=event.header %>" class="form-control"
                        placeholder="enter event name">
                </div>
                <div class="form-group col-md-6">
                    <label for="orgby">Organised by</label>
                    <input type="text" id="orgby" value="<%=event.orgby %>" class="form-control"
                        placeholder="enter organiser name">
                </div>
                <div class="col d-md-none d-lg-none">
                    <hr>
                </div>
                <div class="col-12 m-3 p-3 text-center text-danger">Note: time should be in 24 hour format</div>

                <div class="form-group col-md-3">
                    <label for="date">Starts on</label>
                    <input type="text" readonly class="form-control" value="<%=event.date %>" id="date"
                        placeholder="select date for event" autocomplete="off">
                </div>
                <div class="form-group col-4 col-md-1">
                    <label for="hr">Hour</label>
                    <input type="text" class="form-control" id="hr" value="<%=time[0]%>" placeholder="00" minlength="2"
                        maxlength="2">
                </div>
                <div class="form-group col-4 col-md-1">
                    <label for="min">minute</label>
                    <input type="text" class="form-control" id="min" value="<%=time[1]%>" placeholder="00" minlength="2"
                        maxlength="2">
                </div>
                <div class="form-group col-4 col-md-1">
                    <label for="sec">seconds</label>
                    <input type="text" class="form-control" id="sec" value="<%=time[2]%>" placeholder="00" minlength="2"
                        maxlength="2">
                </div>
                <div class="col d-md-none d-lg-none">
                    <hr>
                </div>
                <div class="form-group col-md-3">
                    <label for="enddate">ends on</label>
                    <input type="text" readonly class="form-control" value="<%=event.edate %>" id="enddate"
                        placeholder="select date for event">
                </div>
                <div class="form-group col-4 col-md-1">
                    <label for="ehr">Hour</label>
                    <input type="text" class="form-control" id="ehr" value="<%=etime[0]%>" placeholder="00"
                        minlength="2" maxlength="2">
                </div>
                <div class="form-group col-4 col-md-1">
                    <label for="emin">minute</label>
                    <input type="text" class="form-control" id="emin" value="<%=etime[1]%>" placeholder="00"
                        minlength="2" maxlength="2">
                </div>
                <div class="form-group col-4 col-md-1">
                    <label for="esec">seconds</label>
                    <input type="text" class="form-control" id="esec" value="<%=etime[2]%>" placeholder="00"
                        minlength="2" maxlength="2">
                </div>

                <div class="form-group col-12">
                    <button class="btn btn-success btn-block disabled" value="<%=event._id%>" id="saveEvent"
                        disabled>Save</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-12 mt-4 text-center">
            <% if(event.showHome == false){ %>
            <button class="btn btn-success btn-xl showHome" value="<%=event._id%>">showhome</button>
            <% }else{ %>
            <button class="btn btn-danger btn-xl showHome" value="<%=event._id%>">hide
                home</button>
            <% } %>
            <% if(event.showCandidates == false){ %>
            <button class="btn btn-success btn-xl showCandidates" value="<%=event._id%>">show
                candidates</button>
            <% }else{ %>
            <button class="btn btn-danger btn-xl showCandidates" value="<%=event._id%>">hide
                candidates</button>
            <% } %>
            <% if(event.showResult == false){ %>
            <button class="btn btn-success btn-xl showResult" value="<%=event._id%>">show
                results</button>
            <% }else{ %>
            <button class="btn btn-danger btn-xl showResult" value="<%=event._id%>">hide
                results</button>
            <% } %>
        </div>
        <% } %>
    </div>
    <%-include admin_common/footer.ejs%>
    <script>
        $(document).ready(() => {
            $.datepicker.setDefaults($.datepicker.regional['nl']);
            $.datepicker.setDefaults({ dateFormat: 'dd-mm-yy' });
            $("#date,#enddate").datepicker();
            $("#eventForm :input,#date,#enddate").on("change keyup keydown", function () {
                if ($("#header").val() != ""
                    && $("#orgby").val() != "" && $("#date").val() != "" && $("#enddate").val() != "" &&
                    $("#hr").val().length >= 2 &&
                    $("#min").val().length >= 2 &&
                    $("#sec").val().length >= 2 &&
                    $("#ehr").val().length >= 2 &&
                    $("#emin").val().length >= 2 &&
                    $("#esec").val().length >= 2) {
                    $("#saveEvent").prop("disabled", false).removeClass("disabled");
                }
                else {
                    $("#saveEvent").prop("disabled", true).addClass("disabled");
                }
            });
            $("#date,#enddate").datepicker();
            $("#saveEvent").click(function () {
                var id = $(this).val();
                var event = {
                    id: "1",
                    header: $("#header").val(),
                    orgby: $("#orgby").val(),
                    date: $("#date").val(),
                    time: $("#hr").val() + ":" + $("#min").val() + ":" + $("#sec").val(),
                    edate: $("#enddate").val(),
                    etime: $("#ehr").val() + ":" + $("#emin").val() + ":" + $("#esec").val()
                }
                $.ajax({
                    url: "updateEvent",
                    type: "POST",
                    data: { event: JSON.stringify(event), id: id },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#createEvent").click(function () {
                $.ajax({
                    url: "createEvent",
                    type: "POST",
                    success: function (data) {
                        if (data[0] == true)
                            window.location.reload();
                        else
                            alert(data[1]);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });

            $(".showHome").click(function () {
                $.ajax({
                    url: "showHome",
                    type: "POST",
                    data: { id: $(this).val() },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
            $(".showCandidates").click(function () {
                $.ajax({
                    url: "showCandidates",
                    type: "POST",
                    data: { id: $(this).val() },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
            $(".showResult").click(function () {
                $.ajax({
                    url: "showResult",
                    type: "POST",
                    data: { id: $(this).val() },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>