<%-include user_common/header.ejs%>

<!-- Modal -->
<div class="modal fade" id="voteAuth" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center text-success msg"></p>
                <!-- otp send form -->
                <div class="form-group text-center stage1">
                    <div class="input-group">
                        <input type="text" class="form-control" id="uid" aria-describedby="helpId"
                            placeholder="enter your Aadhar number" maxlength="12">
                        <button class="btn btn-success otp-send disbaled" disabled>Send OTP</button>
                    </div>
                    <small id="helpId" class="form-text text-muted mb-1">Note <i>Enter you Aadhar number
                            number
                            without any space </i></small>
                </div>
                <!-- otp check form -->
                <div class="form-group text-center stage2">
                    <div class="input-group">
                        <input type="text" class="form-control" id="otp" aria-describedby="helpId"
                            placeholder="enter OTP here" maxlength="12">
                        <button class="btn btn-success otp-check disabled" disabled>verify</button>
                    </div>
                    <small id="helpId" class="form-text text-muted mb-1">!warning <i>any Wrong attempt will cancel
                            your vote</i></small>
                </div>
            </div>
            <!-- <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Save</button>
         </div> -->
        </div>
    </div>
</div>

<section class="main_content  mt-5 mb-5" id="sectionTM">
    <!-- countdown-timer -->
    <div class="container text-white" id="time">
        <div class="row">
            <div class="col-12 text-center mt-5 pt-5">
                <!-- election header -->
                <h1 class="election_header"><%=event[0].header %> </h1>
                <p class="orgby"> <%=event[0].orgby %></p>
                <p class="time-caption">
                    <sapn class="h5">voting begins in..</sapn>
                </p>
            </div>

            <div class="col-3 col-md-3 text-center p-4 tm"><span class="h3 days"></span><br><span>Days</span></div>
            <div class="col-3 col-md-3 text-center p-4 tm"><span class="h3 hours"></span><br><span>Hours</span></div>
            <div class="col-3 col-md-3 text-center p-4 tm"><span class="h3 minutes"></span><br><span>minutes</span>
            </div>
            <div class="col-3 col-md-3 text-center p-4 tm"><span class="h3 seconds"></span><br><span>seconds</span>
            </div>

            <div class="col-12 text-center move-cont mb-3">
                <a class="text-white" data-toggle="modal" data-target="#voteAuth" data-backdrop="static"
                    data-keyboard="false"><i class="fa fa-thumbs-up fa-3x move" aria-hidden="true"></i><br>vote
                    now</a>
            </div>
        </div>
    </div>
</section>

<!-- candidates -->
<div class="container  mt-5 mb-5" id="sectionCD">
    <div class="row" id="time">
        <div class="col-12 p-4 text-center display-4">
            Candidates
        </div>
        <% if(cad){ %>
        <% for(i=0;i<cad.length;i++){ %>
        <!-- Button trigger modal -->
        <div class="col-6 col-md-4 text-center mb-3">
            <a data-toggle="modal" data-target="#<%=cad[i]._id%>">
                <img src="<%=cad[i].image%>" class="img-thumbnail img-fluid rounded-circle"
                    style="width:100px;height:100px;">
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade p-5" id="<%=cad[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><%=cad[i].name%></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>
                            from <%=cad[i].party%> <img src="<%=cad[i].symbol%>" class="float-right" style="width:30px;"
                                data-toggle="tooltip" title="<%=cad[i].party%>">
                        </h5>
                        <p><%=cad[i].about%></p>
                    </div>
                </div>
            </div>

        </div>

        <% }%>
        <% } %>
    </div>
</div>
<!-- charts -->
<div class="container mt-5 mb-5" id="sectionRS">
    <div class="row">
        <div class="col-12 display-4 text-center">Results
            <hr>
        </div>
        <div class="col-md-6 p-3">
            <canvas id="pieChart"></canvas>
        </div>
        <div class="col-md-6 p-3">
            <canvas id="donutChart"></canvas>
        </div>
    </div>
</div>

<%-include user_common/footer.ejs%>
<script>
    function votingStartIn() {
        //#region get elements and time from database
        var tt = moment("<%=event[0].date%>").format("DD - MM - YYYY");

        var votebtn = $('.move-cont'),
            clock = $("#time"),
            eventTime = moment(tt + ' 11:08:00', 'DD-MM-YYYY HH:mm:ss').unix(),
            currentTime = moment().unix(),
            diffTime = eventTime - currentTime,
            duration = moment.duration(diffTime * 1000, 'milliseconds'),
            interval = 1000;
        //#endregion

        votebtn.hide();

        // if time to countdown
        if (diffTime > 0) {
            //#region get time container and hide vote btn
            var $d = $('.days');
            $h = $('.hours');
            $m = $('.minutes');
            $s = $('.seconds');
            //#endregion

            var tv = setInterval(function () {

                duration = moment.duration(duration.asMilliseconds() - interval, 'milliseconds');
                var d = moment.duration(duration).days(),
                    h = moment.duration(duration).hours(),
                    m = moment.duration(duration).minutes(),
                    s = moment.duration(duration).seconds();

                d = $.trim(d).length === 1 ? '0' + d : d;
                h = $.trim(h).length === 1 ? '0' + h : h;
                m = $.trim(m).length === 1 ? '0' + m : m;
                s = $.trim(s).length === 1 ? '0' + s : s;

                // show how many hours, minutes and seconds are left
                $d.text(d);
                $h.text(h);
                $m.text(m);
                $s.text(s);

                if (d == '00' && h == '00' && m == "00" && s == "00") {
                    clearInterval(tv);
                    votingEndIn();
                    votebtn.show();
                    $(".time-caption").html("<span class='h5'>voting ends in</span>");
                }
            }, interval);

        }
        else {
            $(".time-caption").html("<span class='h5'>voting ends in</span>");
            votebtn.show();
            votingEndIn();
        }
    }

    function votingEndIn() {
        //#region get elements and time from database
        var tt = moment("<%=event[0].edate %>").format("DD-MM-YYYY");

        var votebtn = $('.move-cont'),
            clock = $("#time"),
            eventTime = moment(tt + ' 22:30:00', 'DD-MM-YYYY HH:mm:ss').unix(),
            currentTime = moment().unix(),
            diffTime = eventTime - currentTime,
            duration = moment.duration(diffTime * 1000, 'milliseconds'),
            interval = 1000;
        //#endregion



        // if time to countdown
        if (diffTime > 0) {
            //#region get time container and hide vote btn
            var $d = $('.days');
            $h = $('.hours');
            $m = $('.minutes');
            $s = $('.seconds');
            //#endregion

            var tv = setInterval(function () {

                duration = moment.duration(duration.asMilliseconds() - interval, 'milliseconds');
                var d = moment.duration(duration).days(),
                    h = moment.duration(duration).hours(),
                    m = moment.duration(duration).minutes(),
                    s = moment.duration(duration).seconds();

                d = $.trim(d).length === 1 ? '0' + d : d;
                h = $.trim(h).length === 1 ? '0' + h : h;
                m = $.trim(m).length === 1 ? '0' + m : m;
                s = $.trim(s).length === 1 ? '0' + s : s;

                // show how many hours, minutes and seconds are left
                $d.text(d);
                $h.text(h);
                $m.text(m);
                $s.text(s);

                if (d == '00' && h == '00' && m == "00" && s == "00") {
                    clearInterval(tv);
                    $(".tm").hide();
                    $(".time-caption").html("<span class='h5'>voting ended</span>");
                    votebtn.hide();
                }
            }, interval);

        }
        else {
            $(".time-caption").html("<span class='h5'>voting ended</span>");
            $(".tm").hide();
            votebtn.hide();
        }
    }

    window.onload = function (e) {

        if (event) {
            votingStartIn();
        }

        $(".main_content").css("min-height", window.innerHeight);
        $(".main_content").css("min-width", window.innerwidth);
    };

    $(document).ready(function () {
        $("#sectionCD,#sectionRS").hide();

        $("#home").click(function () {
            $("#sectionTM").show();
            $("#sectionCD,#sectionRS").hide("d-none");
        });
        $("#cad").click(function () {
            $("#sectionTM,#sectionRS").hide();
            $("#sectionCD").show();
        });
        $("#res").click(function () {
            $("#sectionTM,#sectionCD").hide();
            $("#sectionRS").show();
        });

        $("[data-toggle='tooltip']").tooltip();
        //- DONUT CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
        var donutData = {
            labels: [
                'BJP',
                'Trinmool',
                'Congress',
                'AAP',
            ],
            datasets: [
                {
                    data: [700, 500, 400, 300],
                    backgroundColor: ['#f39c12', '#00a65a', '#f56954', '#d2d6de'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: true,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        var donutChart = new Chart(donutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })

        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieData = donutData;
        var pieOptions = {
            maintainAspectRatio: true,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        var pieChart = new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
            options: pieOptions
        })


        $(".stage2").hide();
        $("#uid").keyup(function () {
            if ($(this).val().length == 12) $(".otp-send").prop("disabled", false).removeClass("disabled");
            else $(".otp-send").prop("disabled", false).addClass("disabled");
        });
        $(".otp-send").click(function () {
            var spinner = "<i class='fa fa-spinner text-white' aria-hidden='true'></i>"
            $(this).html(spinner).prop("disabled", true).closest(".form-group").hide();
            $(".msg").text("A one time OTP has been send to your registered email");
            $(".stage2").show();
        });
        $("#otp").keyup(function () {
            if ($(this).val().length == 6) $(".otp-check").prop("disabled", false).removeClass("disabled");
            else $(".otp-check").prop("disabled", false).addClass("disabled");
        });
        $(".otp-check").click(function () {
            var spinner = " <i class='fa fa-spinner text-white' aria-hidden='true'></i>"
            $(this).html(spinner).prop("disabled", true).closest(".form-group").hide();
            $(".msg").html("verified succesfully <br>redirecting to voting page....")
        });

        $(window).resize(() => {
            $(".main_content").css("min-height", window.innerHeight);
            $(".main_content").css("min-width", window.innerwidth);
        });

    });
</script>